extends layout

block content
    h1.bct-header MultiChain Api Test
    form#write-form.bct-form
        button(type='submit').bct-form__btn.bct-form__btn_write Write Transaction
        input(type='text' placeholder='Write Transaction' required)#write-input.bct-form__input
    form#read-headers-form.bct-form
        button(type='submit').bct-form__btn.bct-form__btn_headers Read Headers from BC
        input(type='text' placeholder='Read Headers from BC' required)#read-headers-input.bct-form__input
    form(name='readForm')#read-form.bct-form
        button(type='submit').bct-form__btn.bct-form__btn_read Read Transaction
        input(type='text' placeholder='Read Transaction' required)#read-input.bct-form__input
    include ./overlay

