body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.bct-header {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.bct-form {
    width: 500px;
    margin: 0 auto;
}

.bct-form__btn {
    width: 100%;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 11px;
    height: 42px;
    display: block;
    font-size: 18px;
    cursor: pointer;
    color: white;
}

.bct-form__btn_write {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.bct-form__btn_read {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.bct-form__btn_headers {
    background-color: #5bc0de;
    border-color: #46b8da;
}

.bct-form__input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
    height: 50px;
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 18px;
}

.overlay {
    width: 550px;
    height: 90vh;
    overflow: auto;
    position: fixed;
    z-index: 1000;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 2038px rgba(0, 0, 0, .5);
    display: none;
    padding: 10px;
}

.overlay-content {
    word-break: break-all;
    text-align: justify;
    padding: 10px;
}

.overlay-header {
    text-align: center;
}

.overlay-header_error {
    color: red;
}

.overlay-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    background-color: #5bc0de;
    border: 1px solid  #46b8da;
    border-radius: 4px;
    color: white;
}
